<h2>Cuentas Bancarias</h2>
<div id="tabla">
    <table>
        <thead>
            <tr>
                <th>ID Cuenta</th>
                <th>Cuenta Bancaria</th>
                <th>Cliente</th>
                <th>Saldo</th>
                <th>Sucursal Bancaria</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cuenta in cuentas">
                <td>{{cuenta.idCuenta}}</td>
                <td>{{cuenta.cuentaBancaria | FiltroNumeros:20}}</td>
                <td>{{cuenta.cliente}}</td>
                <td>{{cuenta.saldo | currency:"€":2}}</td>
                <td>{{cuenta.sucursalBancaria}}</td>
                <td><a ng-href="#/cuenta/update/{{cuenta.idCuenta}}">Editar</a></td>
                <td><a ng-href="#/cuenta/delete/{{cuenta.idCuenta}}">Borrar</a></td>
                <td><a ng-click="verMovimientos(cuenta.idCuenta)">Ver Movimientos</a></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a href="#/cuenta/insert" class="boton">Nueva Cuenta Bancaria</a>
</div>
    <div ng-show="mostrarErrores">
    <h3>Se han producido los siguientes errores:</h3>   
    <p class="errorDatos" ng-repeat="error in errores">{{error.fieldName}}: {{error.message}}</p>
</div>